<section class="categories-show">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

<p>We here at Jungle belive in empowering you to  give us money for plants.</p>

<p>We carry <%= @products.count %> different types of plants in <%= @categories.count %> different categories!</p>

<p>We are a FOR PROFIT organisation whose main focus is getting you to spend money on plants that we have started for you. DO NOT WORRY dear customer. We have ensured to markup all prices above market value so you believe our products are of the HIGHEST quality! <p>

<p> You would be a fool to miss such an opportunity! Click on the button below to start spending money now!</p>
  <%= link_to "Start Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>